################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExpressApp1/FileContentIndex/0202e1f5-e38f-4bba-b1d2-0eee676ae415.vsidx
