body {
    font-family: 'Roboto';
}

.inner-row {
    height: 75vh;
}

.primaryBg {
    background: #9900cc;
    color: white;
}

.primaryColor {
    background: #9900cc;
}

.form-box {
    background: #fff;
    font-family: 'Roboto';
    justify-items: center;
}

label{
    font-size: 20px;
}

.form-control-lg {
    width: 100%;
}

input{
    border: 1px;
    border-style: solid;
}

.btn {
    float: right;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: 'Roboto';
}

.add-league {
    display:flex;
    place-content: center;
    margin-top: 10px;
}

#addbutton {
    height: 60px;
    width: 200px;
}

th{
    text-align: start;
    padding-left: 10px;
}

td {
    text-align: start;
    margin-left: 5%;
}