body {
    font-family: 'Roboto';
}

.inner-row {
    height: 50vh;
}

.primaryBg {
    background: #9900cc;
    color: white;
}

.primaryColor {
    background: #9900cc;
}

.form-box {
    background: #fff;
    font-family: 'Roboto';
}