body {
    font-family: 'Roboto';
}

.inner-row {
    height: 75vh;
}

.primaryBg {
    background: #8F00FF;
    color: white;
}

.primaryColor {
    background: #8F00FF;
}

.form-box {
    background: #fff;
    font-family: 'Roboto';
    justify-items: center;
}


label {
    font-size: 20px;
}

.form-control-lg {
    width: 100%;
}

.btn {
    float: right;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: 'Roboto';
}

textarea{
    height: 250px;
}

input {
    border: 1px;
    border-style: solid;
}

.add-sport {
    display: flex;
    place-content: center;
    margin-top: 10px;
}

#addbutton {
    height: 60px;
    width: 200px;
}

td{
    font-size: 20px;
}

th {
    font-size: 20px;
}

#msg {
    color: red;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

