@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://www.cssfontstack.com/Brush-Script-MT);

body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, #6F2DA8 0%, #6F2DA8 50%);
}

.inner-row {
    height: 100vh;
}

.primaryBg {
    background: #6F2DA8;
    color: white;
}

.form-box {
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h1 {
    text-align: center;
    font-size: 750%;
    text-shadow: -.5px .5px 0 #000, .5px .5px 0 #000, .5px -.5px 0 #000;
}
.p-5 {
    font-family: 'Brush Script MT';
    color: white;
}

.primaryColor {
    background: #8F00FF;
}

.btn {
    font-family: 'Bernard MT';
    font-size: 500%;
    font-weight: bold;
    justify-content: center;
    height: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: -.5px .5px 0 #000, .5px .5px 0 #000, .5px -.5px 0 #000;
}
