@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

body {
    height: 100%;
}
.p-5 {
    background: linear-gradient(90deg, #8F00FF 0%, #8F00FFa4 50%);
    font-family: 'Bilbo Swash Caps', cursive;
}
h1{
    font-size: 500%;
}
.navbar {
    background: #434343;
    font-family: 'Roboto';
    font-size: initial;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn {
    background: #8F00FF;
    color: white;
    border: none;
}
footer {
    position: relative;
    background-color: #1c2331;
    width: 100%;
    bottom: 0;
}
hr {
    background-color: #7c4dff;
    height: 2px;
}