@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, #8F00FFa4 0%, #8F00FFc4 50%);
}

.inner-row {
    height: 100vh;
}

.primaryBg {
    background: #8F00FF;
    color: white;
}

.primaryColor {
    background: #8F00FF;
}

.form-box {
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

