extends layout.pug

block variables
  - var PageID = 'about';

block content
    p.
        Our goal with this site is to create an easy to use
        platform for intramural sports at Kansas State 
        University
            - Adam & Zane


