extends layout.pug

block variables
  - var PageID = 'about';
  - var user = user.admin;

block append style
  style
    include ../public/stylesheets/about.css

block content
  body
    h3.
      Our goal with this site is to create 
      an easy to use platform for intramural s
      ports at Kansas State University. We hope
      you enjoy. - Adam & Zane


