extends layout.pug

block variables
  - var PageID = 'addSport';
  - var user = user.id;

block append style
  style
    include ../public/stylesheets/addSport.css

block content
  body
    .container
      .row.justify-content-center.align-items-center.inner-row
        .col-lg-5.col-md-7
          .form-box.p-5
            .form-title
              h2.fw-bold.mb-3 Add New Sport
            //- this is what is needed to send back to the router
            form(action='/addSport' method='post')
              label Name
              .form-floating.mb-3
                input.form-control-lg(id='sport' name='sport' type='text' placeholder='Sport')
              label Rules
              .form-floating.mb-3
                textarea.form-control-lg(id='rules' name='rules' type='text' placeholder='Rules')
              .mt-3
                //- must be this type of input to submit the values to the router page
                input.btn.btn-light.primaryBg(type='submit' value='Add')