extends layout.pug

block variables
  - var PageID = 'addSport';
  - var user = user.admin;
  - var sportID;

block append style
  style
    include ../public/stylesheets/addSport.css

block content
  body
    p#msg= msg
    .add-sport
      button.btn.btn-light.ms-3(id='addbutton' data-bs-toggle='modal' data-bs-target='#sportModal') Add Sport
    table.table.table-striped.table-hover
      thead
        tr
          th All Sports
      tbody
        each sport in sports
          tr
            td #{sport.sportName}
            td
              button.btn.btn-light.ms-3(data-bs-toggle='modal' data-bs-target='#deleteModal' data-sport-id= sport.sport_id onclick='deleteLeague(this);') Delete


    #sportModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Add New Sport
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/addSport' method='post')
            // Modal body
            .modal-body
              label Name
              .form-floating.mb-3
                input.form-control-lg(id='sport' name='sport' type='text' placeholder='Sport')
              label Rules
              .form-floating.mb-3
                textarea.form-control-lg(id='rules' name='rules' type='text' placeholder='Rules')
              .mt-3
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Add')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close


    #deleteModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/removeSport' method='post')
            // Modal body
            .modal-body
              label Are you sure you want to delete this Sport?
              .form-floating.mb-3
                input(id= 'sid' name='sid' type='hidden')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Yes')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') No

  script.
    function deleteLeague(element){
        sportID = element.getAttribute("data-sport-id");
        var sid = document.getElementById('sid');
        sid.setAttribute("value", sportID);
    }