extends layout.pug

block variables
  - var PageID = 'createTeam';

block append style
  style
    include ../public/stylesheets/createTeam.css

block content 
  body
   .grid-container#sports
     each sport in sports
       .grid-item
         a.btn(class='gbutton' href='/leagues/?si=' + sport.sport_id) #{sport.sportName}