extends layout.pug

block variables
  - var PageID = 'createTeam';

block content 
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
  .container-fluid
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#Baseball') Baseball
      li.nav-item
        a.nav-link(href='#Basketball') Basketball
      li.nav-item
        a.nav-link(href='#Football') Football
      li.nav-item
        a.nav-link(href='#Soccer') Soccer
      li.nav-item
        a.nav-link(href='#Tennis') Tennis
      li.nav-item
        a.nav-link(href='#Volleyball') Volleyball
      li.nav-item
        a.nav-link(href='#Other') Other
  #Baseball.container-fluid.bg-success.text-white(style='padding:100px 20px;')
    h1 Baseball
  #Basketball.container-fluid.bg-warning(style='padding:100px 20px;')
    h1 Basketball
    ul
      each bball in bballLeague
        li='${bball.leagueName}'
          
  #Football.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Football
    table.table.table-striped.table-hover
      thead
        tr
          th Sport
          th League
          th Game Time
      tbody
        each fball in fballLeague
          tr
            td #{fball.sport_id}
            td #{fball.leagueName}
            td game time needs added
  #Soccer.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Soccer
  #Tennis.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Tennis
  #Volleyball.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Volleyball
  #Other.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Other