extends layout.pug

block variables
  - var PageID = 'createTeam';

  block append style
    style
        include ../public/stylesheets/createTeam.css

block content 
  body
   .grid-container
     each sport in sports
       .grid-item
         .gbutton.btn.btn-light #{sport.sportName}
