extends layout.pug

block variables
  - var PageID = 'home';
  //- var teamslocal = [{'name': 'cats', 'sport': 'football', 'code': '12345'}, {'name': 'tang gang', 'sport': 'basketball', 'code': '23456'}, {'name': 'dawgs', 'sport': 'softball', 'code': '34567'}];
  - var league = {'name': 'Dorms'};
  - var client = user;
  - var user = client.id;
  

block append style
    style
        include ../public/stylesheets/home.css

block content
 body
  .container.mt-5
    .row
      .col-sm-4
        h2 #{client.name}
        h5 Photo:
        .fakeimg Photo submitted by user
        p Height: 6&apos;0&apos;
        p Weight: 180
        p Number of Teams: 4
        p Most played sport: Basketball
        h3.mt-4 Stats
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link(href='') Team Stats
          li.nav-item
            a.nav-link(href='#') Player Stats
          li.nav-item
            a.nav-link(href='#') Records
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        hr.d-sm-none
      .col-sm-8
        h2
          | My Teams
          a.btn.btn-light.ms-3(type='button' href='./createTeam') Create Team
          button.btn.btn-light.ms-3(data-bs-toggle='modal' data-bs-target='#myModal') Join Team

        table.table.table-striped.table-hover
          thead
            tr
              th Team Name
              th Division
              th League
          tbody
            each team in teams
              tr
                td #{team.teamName}
                each league in leagues
                  if league.league_id === team.league_id
                    td #{league.leagueName}
                td #{team.code}



    // The Modal
    #myModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Join Team
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/home' method='post')
            // Modal body
            .modal-body
              label.mb-3(for='tc') Team Code    
              input.form-control.form-control-sm.float-end(id='tc' name='tc' type='text' placeholder='Team Code')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Search')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close