doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0 ')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css')
  title Login
style
   include ../public/stylesheets/index.css

body
  .p-5.text-white.text-center
      h1 Welcome to Wildcat Intramural Inc.
  
  .container
  .row.justify-content-center.align-items-center.upper-row
    .col-lg-3.col-md-5
      .form-box.registration-form.p-3
        form(action='')
          .form-floating.mb-3
            a.btn.btn-light.primaryBg(href='/login' ) Login
          .form-floating
            a.btn.btn-light.primaryBg(href='/signup' ) Sign Up
            