extends layout.pug

block variables
  - var PageID = 'leagues';
  - var user = user.id;

block append style
  style.
    .fakeimg {
    height: 200px;
    background: #aaa;
    }

block content
  body
    table.table.table-striped.table-hover
     thead
       tr
         th Leagues
     tbody
       each league in leagues
         tr
           td #{league.leagueName}
           td
             .btn.btn-light Select

    table.table.table-striped.table-hover
     thead
       tr
         th All Leagues
     tbody
       each league in aleagues
         tr
           td #{league.leagueName}
           td
             .btn.btn-light Select