doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0 ')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css')
  title #{title}
  style
    include ../public/stylesheets/signup.css
  
.container
  .row.justify-content-center.align-items-center.inner-row
    .col-lg-5.col-md-7
      .form-box.registration-form.p-5
        .form-title
          p #{msg}
          h2.fw-bold.mb-3 Create Your Account
        //- this is what is needed to send back to the router
        form(action='/signup' method='post')
          .form-floating.mb-3
            input.form-control.form-control-sm(id='fname' name='fname' type='text' placeholder='First Name')
            label(for='floatingFirst') First Name
          .form-floating.mb-3
            input.form-control.form-control-sm(id='lname' name='lname' type='text' placeholder='Last Name')
            label(for='floatingLast') Last Name
          .form-floating.mb-3
            input.form-control.form-control-sm(id='email' name='email' type='email' placeholder='Email')
            label(for='floatingEmail') Email
          .form-floating.mb-3
            input.form-control.form-control-sm(id='password' name='password' type='password' placeholder='Password')
            label(for='floatingPassword') Password
          .mt-3
            //- must be this type of input to submit the values to the router page
            input.btn.btn-light.primaryBg(type='submit' value='Sign Up')
        .mt-3
          span Already have account? 
          a(href='./login') Login