extends layout.pug

block variables
  - var PageID = 'sports';
  - var user = user.admin;

block append style
  style
    include ../public/stylesheets/sports.css

block content
  body
    .grid-container
      each sport in sports
        .grid-item
          a.btn(class='gbutton' href='/rules/?sid=' + sport.sport_id) #{sport.sportName}