extends layout.pug

block variables
  - var PageID = 'teams';
  - var user = user.id;

block content
 body
  p=teams
  //-
   table.table.table-striped.table-hover
     thead
       tr
         th Name
     tbody
       each team in teams
         tr
           td #{team.teamName}