extends layout.pug

block variables
  - var PageID = 'teams';

block content
 body
   table.table.table-striped.table-hover
     tbody
       each team in teams
         tr
           td #{team.name}
           td #{team.sport}
           td #{league.name}
           td #{team.code}